<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "C:\Projects\dtd\hibernate-configuration\hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://10.3.26.4:1433;databaseName=RCMS_ORSA</property>
        <property name="hibernate.connection.username">cadetcommand</property>
        <property name="hibernate.connection.password">2025C@detC0mmand!</property>

        <!-- JDBC Connection Pool Settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo All Executed SQL to Console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and Recreate Database Schema on Startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping class -->
        <mapping class="edu.students.assignments.dataobjects.StudentsAssignmentsDataObject"/>
    </session-factory>
</hibernate-configuration>
